.editor-styles-wrapper .is-root-container {
    padding-right: var(--wp--style--root--padding-right);
    padding-left: var(--wp--style--root--padding-left);
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}